<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="userIcon">
    <img  (click)="presentActionSheet()" size="large" [src]="('./assets/images/profileIcons/' + iconName)" alt="profileImage">
  </div>

  <div class="userInfo">
    <h2>John Doe</h2>
    <p>randomemail@gmail.com</p>
  </div>

  <div class="accountOptions">
    <ion-list>
      <ion-item lines="none" (click)="openDeviceList()">
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label>My Devices</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none" (click)="logOut()">
        <ion-icon slot="start" name="ban"></ion-icon>
        <ion-label>Sign Out</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Help</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
