/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*.gm-style-iw{
  color: black;
}

ion-list{
  background: transparent !important;
}

.deviceCard{
  --background:rgb(238,162,43) !important;
  --background: linear-gradient(30deg, rgba(238,162,43,1) 31%, rgba(238,60,13,1) 100%) !important;
  color: white;
}

ion-content{
  //--background:rgb(28,30,33) !important;
  //--background: linear-gradient(70deg, rgb(24, 26, 29) 16%, rgb(20, 22, 24) 72%) !important;
  --background: rgb(254,254,254) !important;
}

ion-item{
  background: transparent !important;
  --background: transparent !important;
  color: black;
}

ion-tab-bar{
  background: transparent !important;
  --background:  rgb(254,254,254) !important; 
  --border: solid rgb(238,162,43) 2px !important;

}

*/

ion-modal {
  .modal-wrapper {
      height: 50% !important;
      width: 85% !important;
      border-radius: 5% !important;
      ion-content{
        
        --background:rgb(255 ,255,255) !important;
        //--background: linear-gradient(30deg, rgba(238,162,43,1) 31%, rgba(238,60,13,1) 100%) !important;
        //--background: rgb(97,50,168) !important;
        //--background: linear-gradient(30deg, rgba(97,50,168,1) 0%, rgba(49,73,190,1) 100%) !important;

        h1{
          color: black;
        }
      }
  }
}
.modal
{
    .modal-wrapper 
    {
        position: absolute !important;
        width:100% !important;
        bottom:0% !important;
        height:30% !important;
        overflow: hidden !important;
        padding:0.6rem !important;
        border-radius: 1.5rem 1.5rem 0rem 0rem !important;
    }
}

  