div {
  margin: auto;
  width: 90%;
}
ion-button {
  margin-bottom: 1em;
}
.title {
  font-weight: bold;
  font-size: 2em;
}
.bar-title {
  font-weight: bold;
  margin-top: 1em;
}
section {
  margin-top: 3.5em;
}
