#map{
    height: 100%;
    position: relative;
}
.mapRow{
    position: relative;
}
#firstHeading{
    color:black !important
}

.storemapper-iw-container{
    background-color: black !important;
}

.icon{
    width: 30%;
    height: 100%;
}

.mapPlaceholder{
    height: 22em;
}

.deviceList{
    height: 100%;
}

ion-card{
    height: 7em;
}

ion-col h1{
    margin-bottom: 0em;
    margin-top: 15px;
    margin-left: 20px;
}
ion-col p{
    margin-top: 0em;
    margin-bottom: 15px;
    margin-left: 20px;
    color:  rgb(175, 175, 175);
}
.redCircle{
    position: relative;
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 50%;
    left:60%
}
.greenCircle{
    position: relative;
    width: 1rem;
    height: 1rem;
    background: green;
    border-radius: 50%;
    left:60%
}

ion-slides {
    height: 100%;
  }

  .showDeviceButton{
      position: absolute;
      z-index: 1000;
      right: -10px;
      --border-radius: 30%;
      top: 2px;
      font-family: 'Montserrat', sans-serif;
  }

  .backToMapButton{
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      text-align: center;
      --border-radius: 30%;
      left: -10px;
      top: 2px;
  }

.deviceDiv{
    height: 50%;
    width: 100%;
    background: white;
    position: absolute;
    bottom: -46%;
    z-index: 1000;
    border-radius: 5% 0 0 0;
    transition: all 1s;
}
.showDevicesDiv{
    height: 5%;
    width: 40%;
    background: white;
    position: absolute;
    right: 0px;
    bottom: 4%;
    z-index: 1000;
    border-radius: 20px 20px 0px 0px;
    h1{
        color: orange;
        font-size: 10pt;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-top: 10px;
    }
    text-align: center;
    transition: all 1s;
}
