<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
</style>

<ion-content scroll="false">

  <div #map id="map"></div>
  <div class="showDevicesDiv" (click)="showDeviceList()">
    <h1>Device List</h1>
  </div>
  <div class="deviceDiv">
    <ion-grid>
      <ion-row class="deviceList">
        <ion-col>
          <ion-list>
            <ion-card class="deviceCard" *ngFor="let device of deviceListService.deviceList"
              [routerLink]="['/','device-details', device.id]">
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-icon name="{{ device.icon }}" size="large"></ion-icon>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-col size="8">
                    <h1>{{device.name}}</h1>
                    <p>Click to view more info</p>
                  </ion-col>
                  <ion-col size="2">
                    <div *ngIf ="!device.isConnected">
                      <div class="redCircle"></div>
                    </div>
                    <div *ngIf ="device.isConnected">
                      <div class="greenCircle"></div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
            <div *ngIf="deviceListService.deviceList">

                <ion-card class="deviceCard" *ngIf="deviceListService.deviceList.length == 0"
                [routerLink]="['/','device-list']">
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-icon name="add-circle-outline" size="large"></ion-icon>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col size="8">
                      <h1>Add a tag</h1>
                      <p>Click here to add a geotag!</p>
                    </ion-col>
                    <ion-col size="2">
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-icon (click)="presentAlert()" class="infoIcon" size="large" name="information-circle-outline"></ion-icon>
</ion-content>