<ion-content>

  <div class="title">
    <p>Please select one of the following icons</p>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('none')">
            <ion-icon name="none"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('key')">
            <ion-icon name="key"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('bag-handle')">
            <ion-icon name="bag-handle"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('bag')">
            <ion-icon name="bag"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('desktop')">
            <ion-icon name="desktop"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('laptop')">
            <ion-icon name="laptop"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('camera')">
            <ion-icon name="camera"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('wallet')">
            <ion-icon name="wallet"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('phone-portrait')">
            <ion-icon name="phone-portrait"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('briefcase')">
            <ion-icon name="briefcase"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('bicycle')">
            <ion-icon name="bicycle"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('car')">
            <ion-icon name="car"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('location')">
            <ion-icon name="location"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('pricetag')">
            <ion-icon name="pricetag"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('body')">
            <ion-icon name="body"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('home')">
            <ion-icon name="home"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('build')">
            <ion-icon name="build"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('card')">
            <ion-icon name="card"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('color-wand')">
            <ion-icon name="color-wand"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('game-controller')">
            <ion-icon name="game-controller"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>