<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding lines="none" *ngFor = "let notification of notificationService.notificationList">
      <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col class="iconCol" size="2"><ion-icon size="large" name="{{notification.icon}}"></ion-icon></ion-col>
            <ion-col size="10">
              <h4>{{notification.date.getDate()}}/{{notification.date.getMonth()}}/{{notification.date.getFullYear()}} - {{notification.date.toLocaleTimeString().slice(0,5)}}</h4>
              <p>{{notification.message}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="notificationService.deleteNotification(notification.id)" color="danger">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
