<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/images/logo_colored.png" />

    <section class="input-fields">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
    </section>
    <div class="ion-text-center">
      <a (click)="forgotPassword(email)">Forgot password</a>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" fill="outline" color="dark" (click)="goToRegister()" expand="block">Register
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>