img {
    height: 20vh;
    width: auto;
    margin:  5vh auto 3vh auto ;
    display: block;
}
.forgot-password {
    text-align: center;
}
.input-fields {
    margin-bottom: 4vh;
}
.item.item-input {
    --background: transparent !important;
}