
ion-item{
    border-radius: 0.8rem;
    margin-bottom: 0rem;
}
ion-content {
    // overwrite inline styles
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  div{
      padding:2rem;
      padding-top: 4em;
      padding-bottom: 0em;
  }
  ion-col{
      padding:0rem;
  }
  ion-grid{
    padding: -1rem;
}

ion-icon {
    font-size: 3rem;
}
.trashIcon{
    display: flex;
    align-self: center;
    font-size:2rem;
    color: red;
}