<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alert Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentDevice" >

  <ion-list>
    <ion-item lines="none">
      <ion-label slot="start">Enabled</ion-label>
      <ion-segment mode="ios" [(ngModel)]="currentDevice.settings.alertsEnabled" (ionChange)="setNotifsEnabled($event)">
        <ion-segment-button value="false">
          <ion-label>Off</ion-label>
        </ion-segment-button>
        <ion-segment-button value="true">
          <ion-label>On</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
        
    <ion-item lines="none">
      <ion-label slot="start">Notification Type</ion-label>
      <ion-segment mode="ios" [(ngModel)]="currentDevice.settings.alertType" (ionChange)="changeAlertType($event)">
        <ion-segment-button value="Vibration">
          <ion-label>Vibration</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sound">
          <ion-label>Sound</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="none"  [routerLink]="['/','enabled-notif-locations', currentDevice.id]">
      <ion-label slot="start">Enabled Locations</ion-label>
    </ion-item>

    <ion-item lines="none"  [routerLink]="['/','enabled-notif-times', currentDevice.id]">
      <ion-label slot="start">Enabled Times</ion-label>
    </ion-item>
  </ion-list>


</ion-content>