<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="currentDevice">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-card *ngFor = "let time of currentDevice.settings.enabledTimes">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-icon [name]="time.icon" size="large"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
                <ion-col size="8">
                  <h1>{{time.nickname}}</h1>
                  <p>{{time.beginTime}} - {{time.endTime}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card (click)="presentModal()"> 
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-icon name="add-circle-outline" size="large"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
                <ion-col size="8">
                  <h1>New Time</h1>
                  <p>Click to add a new time</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

