ion-card{
    height: 7em;
}

ion-col h1{
    margin-bottom: 0em;
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(175, 175, 175);
}
ion-col p{
    margin-top: 0em;
    margin-bottom: 15px;
    margin-left: 20px;
    color:  rgb(175, 175, 175);
}
.icon{
    width: 30%;
    height: 100%;
}
p{
    color:black
}