<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div #map id="map" slot="fixed"></div>

  <ion-grid>
    <ion-row class="mapPlaceholder">
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="deviceList">
      <ion-col>

        <div class="title">
          <h1>{{currentDevice.name}}</h1>
          <p>Last seen 3 min ago</p>
        </div>
        <br>

        <ion-list>
          <ion-item lines="none" (click)="presentModal()">
            <ion-icon name="notifications-outline"></ion-icon>            
            <ion-label>
              <h2>Ring</h2>
              <p>Ring your {{currentDevice.name | lowercase}}</p>
            </ion-label>          
          </ion-item>
        </ion-list>
        <ion-item lines="none" [routerLink]="['/','alert-settings', currentDevice.id]">
          <ion-icon name="settings-outline"></ion-icon>            
          <ion-label>
            <h2>Alert Settings</h2>
            <p>Settings for when you get alerted when leaving</p>
          </ion-label>          
        </ion-item>
        <ion-item lines="none" [routerLink]="['/','location-history', currentDeviceId]">
          <ion-icon name="compass-outline"></ion-icon>          
          <ion-label>
            <h2>Location History</h2>
            <p>Show previous locations from your device</p>
          </ion-label>          
        </ion-item>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>