ion-title {
  color: black;
}

ion-back-button {
  color: black;
}

#map {
  height: 13em;
  position: relative;
}
.mapRow {
  position: relative;
}
#firstHeading {
  color: black !important;
}
p {
  color: black;
}
.storemapper-iw-container {
  background-color: black !important;
}

.icon {
  width: 30%;
  height: 100%;
}

.mapPlaceholder {
  height: 13em;
}

.deviceList {
  height: 100%;
}

ion-card {
  height: 7em;
}

div p {
  margin: 0 auto;
  color: rgb(175, 175, 175);
  font-size: small;
}

p {
  color: rgb(175, 175, 175);
}

ion-label {
  margin-left: 1em;
}

ion-label p {
  font-size: 12px;
}

ion-item {
  margin-top: 2em;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  background: transparent !important;
}

ion-header {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

.svgImage {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.ringCard {
  h2 {
    color: white;
  }
  width: 90%;
  background-color: #f1962e;
  color: white;
  text-align: center;
  ion-icon {
    position: absolute;
    top: 50%;
    left: 45%;
    margin: 0;
    padding: 0;
  }
  margin: 0 auto;
}

.ringDiv {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}
