<ion-content>
  <div class="title">
    <p>Please select one of the following icons</p>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('none')">
            <ion-icon name="none"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('fast-food-outline')">
            <ion-icon name="fast-food-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('home-outline')">
            <ion-icon name="home-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('baseball-outline')">
            <ion-icon name="baseball-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('book-outline')">
            <ion-icon name="book-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('car-sport-outline')">
            <ion-icon name="car-sport-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('desktop-outline')">
            <ion-icon name="desktop-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('newspaper-outline')">
            <ion-icon name="newspaper-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('play-circle-outline')">
            <ion-icon name="play-circle-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="imageHolder" (click)="dismiss('train-outline')">
            <ion-icon name="train-outline"></ion-icon>
          </div>
        </ion-col>        
        <ion-col>
          <div class="imageHolder" (click)="dismiss('hammer-outline')">
            <ion-icon name="hammer-outline"></ion-icon>
          </div>
        </ion-col>        
        <ion-col>
          <div class="imageHolder" (click)="dismiss('train-outline')">
            <ion-icon name="train-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
