<ion-content>
  <div #map id="map" slot="fixed"></div>

  <ion-grid>
    <ion-row class="mapPlaceholder">
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="deviceList">
      <ion-col> 
          <ion-list>
            <ion-card *ngFor = "let device of deviceList" [routerLink]="['/device-details']">
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-icon name="key-outline" size="large"></ion-icon>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-col size="8">
                    <h1>{{device.name}}</h1>
                    <p>Click to view more info</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>