<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Email Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Email confirmation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Please check your email inbox for a confirmation email and click the link to confirm your email address.
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button type="submit" fill="outline" color="dark" (click)="authService.SendVerificationMail()" expand="block">Resend Verification Email
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="solid" expand="block" (click)="goToLogin()">Continue</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>